
@import url(sample-component.css);

* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
}

body > * {
  font-family: sans-serif;
  padding:1em;
}

header {
  background: green;
  color:white;
}

header h1 {
  font-family: monospace;
}

sample-component {
}
